.page {
  margin-top: 60px;
}

h4 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;

  & label,
  & span:first-child {
    font-weight: 300;
  }

  & > div {
    display: flex;
    width: 100%;
    margin: 10px 0;

    & > * {
      flex: 2;
      text-align: left;
    }

    & :first-child {
      flex: 1;
      text-align: right;
      margin-right: 20px;
    }
  }


  & button {
     margin: 0 auto;
     display: block;
   }
}
