//.cart-total-wrap {
//  margin: 10px auto;
//  //display: flex;
//  //justify-content: flex-end;
//  //padding: 10px;
//  width: 300px;
//  max-width: 100%;
//}

.cart-total {
  width: 100%;
  display: block;
}

.cart-total h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.cart-total p {
  width: 100%;
}

.cart-total p span {
  display: block;
  width: 50%;
}

.cart-total p.total-price span {
  text-transform: uppercase;
}

.cart-total p.total-price span:last-child {
  color: #000000;
  font-weight: 600;
}
