<div class="cart-total">
    <h3>Cart Totals</h3>
    <p class="d-flex">
        <span>Subtotal</span>
        <span>{{cart.subtotal}}</span>
    </p>
    <p class="d-flex">
        <span>Delivery</span>
        <span>{{cart.shippingTotal}}</span>
    </p>
    <p class="d-flex">
        <span>Discount</span>
        <span>{{cart.discountTotal}}</span>
    </p>
    <div class="divider"></div>
    <p class="d-flex total-price">
        <span>Total</span>
        <span>{{cart.total}}</span>
    </p>
</div>

