<section class="about-wrap d-flex">
  <div class="about d-flex">

      <div class="intro ">
        <div class="icon">
          <span class="flaticon-support"></span>
        </div>
        <div class="text">
          <h2>Online Support 24/7</h2>
          <p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have.</p>
        </div>
      </div>

      <div class="intro  ">
        <div class="icon">
          <span class="flaticon-cashback"></span>
        </div>
        <div class="text">
          <h2>Money Back Guarantee</h2>
          <p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have.</p>
        </div>
      </div>


      <div class="intro  ">
        <div class="icon">
          <span class="flaticon-free-delivery"></span>
        </div>
        <div class="text">
          <h2>Free Shipping &amp; Return</h2>
          <p>Any delicate you how kindness horrible outlived servants. You high bed wish help call draw side. Girl quit if case mr sing as no have.</p>
        </div>
      </div>
    </div>



</section>
